.env
.env.yaml

# System files
.DS_Store
.ipynb_checkpoints
*.pyc
*.swp
build/
dist/
.coverage
*.iml
*.egg-info
*.vscode
__pycache__

# Data files
*.csv
*.sqlite
*.zip
training_outputs/

*.sublime-project
*.sublime-workspace
**/*.code-workspace

#not sure if this code might come in useful later
api_elena.py
