# Feel free to use this file to list the strict minimum requirements to copy inside your docker container in production
# You may want to remove dev requirements such as pytest, ipykernel, matplotlib etc...

# $CHA_BEGIN
colorama
numpy
pandas
scikit-learn
tensorflow==2.10.0
google-cloud-bigquery<3.0.0
google-cloud-storage
pyarrow


fastapi
pytz
uvicorn

python-dotenv
# $CHA_END

torch
transformers
